body{
	/*background-image: url("../images/classical-music.jpg");
	background-size: cover;
	 -webkit-background-size: cover;
    -moz-background-size: cover;*/
   
    box-sizing: border-box;
    font-size:8px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color:rgb(102,74,45);

	}

	header{
		margin:0 auto;
		padding:0 auto;
	}



	.game-theme{
		font-size: 20px;
		text-align: center;
		
		z-index: 99;
		color:rgb(224,131,36);
		font-weight: bold;
		/*display: inline-block;*/
	}

	.game-title{
		padding-top: 10px;
		font-size:30px;
		text-align: center;
		font-family: 'Alex Brush', cursive;
		font-weight:bold;
		/*display: inline-block;*/

	}

	.game-stats{
		margin-top:10px;
		font-size: 10px;
		display:inline-block;
		border:1px solid rgb(102,74,45);
		padding:10px 50px 10px 50px;
		text-align: center;
		background: rgb(115,56,4);
		color:black;	}


	#imgClue{
		display:inline-block;
		width:80px;
		height:80px;
		margin-top: 10px;
		vertical-align: top;
	}

	.data{
		color:white;
		font-size: 12px;
	}


    .section-title{
    	font-family: 'Alex Brush', cursive;
    	font-size: 20px;
    	color:white;
    }


    .rotate {

	-webkit-transform: rotate(316deg);
    -moz-transform: rotate(316deg);
    -o-transform: rotate(316deg);
     writing-mode: lr-tb;
	
}
    
	